@{
    ViewBag.Title = "Acerca de la UTEQ";
}
<h2>@ViewBag.Title.</h2>
<img class="img-responsive" src="https://www.eluniversalqueretaro.mx/sites/default/files/2020/07/21/whatsapp_image_2020-07-21_at_00.28.18.jpeg" style="height: 720px;"/>
<div class="row">
    <div class="col-lg-6">
        <h1>Historia</h1>
        <img  class="img-responsive" src="https://www.uteq.edu.mx/Images/Foto%201_Historia.jpg"/>
        <h4 class="text-justify">
            Durante la segunda ola de creación de Universidades Tecnológicas en México, nace la UTEQ el 5 de septiembre de 1994, ofreciendo las carreras de Técnico Superior Universitario (TSU) en Administración, Comercialización, Procesos de Producción y Mantenimiento Industrial. La matrícula fue de 146 estudiantes, quienes se concentraban en sedes alternas: UPN e ITQ.



            A un año de ello, sus instalaciones fueron inauguradas por el entonces Presidente de la República, Lic. Ernesto Zedillo Ponce, el 21 de septiembre de 1995. Su infraestructura consistía de: Rectoría, 2 edificios de laboratorios y 2 módulos para docencia.



            Cuatro años después de su fundación, la UTEQ puso en marcha el laboratorio de redes de Telemática y equipó el de metrología. Un paso importante fue la exportación de talentos: alumnos realizaron una estancia de 3 meses en Barcelona. A raíz de ello continuó la internacionalización, ya que en 1999 ocho estudiantes realizaron su estadía en España y Austria.



            Comprometida con preparar a jóvenes en más áreas del conocimiento, en el año 2000 la UTEQ comenzó la carrera de Tecnología Ambiental. Aunado a que, para garantizar la satisfacción de sus clientes, obtuvo el Certificado de Calidad.



            Ante la necesidad de que sus alumnos contaran con la continuación de estudios, en 2001 realizó un tratado con la Universidad de Cantabria en España, que les permitiría obtener dos títulos universitarios en un lapso no mayor a tres años.



            Seis jóvenes obtuvieron beca para estudiar 1 año en Francia, en la primera convocatoria de MEXPROTEC en 2002 (programa que beca a estudiantes de UUTT para estudiar 1 año en Francia). Ese mismo año, abrió los cursos de francés, sumándose a los de inglés que ya se ofrecían desde 1999.



            Para difundir aspectos relevantes de la institución, nace el programa radiofónico “En contacto”, convirtiéndose en la primera Universidad Tecnológica del país en contar con este tipo de canal de difusión.



            Prosiguieron grandes reconocimientos y proyectos: en 2003, el Centro de Formación Nacional Peugeot empezó sus trabajos; en septiembre de 2004, abrió la carrera de TSU en Servicios Posventa Automotriz y su Incubadora de Empresas comenzó operaciones.



            2005 fue el periodo en el que diversas carreras obtuvieron la máxima calificación en la evaluación de los Comités Interinstitucionales para la Evaluación de la Educación Superior (CIEES). Este año comenzó el programa “Conexión Universitaria” en radio (en 2009 cambió su formato a televisión).



            Gracias a la pertinencia de la carrera de TSU en Servicios Posventa Automotriz, la Secretaría del Trabajo y Previsión Social le otorgó el Premio Nacional de Vinculación, en 2008. Un año más tarde, la Universidad amplió su oferta educativa al abrir la continuación de estudios a Ingenierías. En 2011, un docente ingresó al Sistema Nacional de Investigadores.



            El Centro de Graduados Ericsson dio comienzo en 2012 y se inauguró el Gimnasio Auditorio. El primer libro realizado por personal de la UTEQ, “Aprende a vivir con sustentabilidad”, se publicó en formato electrónico. Además, la Universidad impartió el Diplomado “La Sustentabilidad en las instituciones de Educación Superior” e inició la capacitación de operadores de transporte público.



            Respecto a movilidad al extranjero, estudiantes realizaron estadías en países como: Venezuela, República Dominicana y Estados Unidos.



            Derivado de un convenio con empresas del sector Plásticos y la CANACINTRA, en 2013 abrió su Centro de Formación en Polímeros. Aunado a ello, recibió los títulos de Centro Certificador académico de SolidWorks y de National Instruments; se convirtió en miembro afiliado a la Unión de Universidades de América Latina y el Caribe (UDUAL) y su Incubadora de Empresas fue reconocida por el INADEM. Este año Canadá y Reino Unido se sumaron como destinos para la realización de estadías.



            A 20 años de su nacimiento (en 2014), inició operaciones como Centro de Evaluación CONOCER. Incluyó en su oferta educativa la opción de Ingenierías Semipresenciales. La infraestructura creció nuevamente, al estrenar el edificio de Nanotecnología y un nuevo Data Center. Por primera vez llevó a cabo el programa “Estadía Universitaria” y se publicaron otros siete libros electrónicos realizados por personal de la UTEQ.



            En 2015, dos estudiantes viajaron a China para capacitarse; la institución firmó convenio con la Comisión Nacional para el Desarrollo de los Pueblos Indígenas, a fin de apoyar proyectos productivos de la entidad; integró el Comité de Control y Desempeño Institucional (COCODI) y abrió cursos del idioma alemán.



            2016 significó la plataforma de transición hacia la Cuarta Revolución Industrial: la UTEQ comenzó los trabajos para instalar un Centro de Manufactura Digital en sus instalaciones; firmó convenio con las empresas DELL e INTEL e inauguró el Creativity and Innovation Center 4.0, para el desarrollo de proyectos tecnológicos y la investigación aplicada.



            Además de los alumnos que viajaron a Francia becados por MEXPROTEC, otros realizaron estadías en Chile, Reino Unido, Estados Unidos, Costa Rica, Alemania y Canadá. La UTEQ Implementó los programas Talentos Académicos y Formación dual; conformó la Red Estudiantil de Querétaro por la Paz y el Ayuntamiento emprendió la construcción del Centro Cultural Comunitario de la Delegación Epigmenio González dentro de sus instalaciones.



            También se agregan los logros en otras áreas: fue la institución que en 1995 presentó el proyecto para desarrollar los juegos deportivos del Subsistema de las UUTT (actualmente conocido como ENDCUT), del cual esta institución ha sido campeona en 8 ocasiones, así como la obtención de tercer lugar en Tenis de Mesa individual en la Universiada Nacional 2016, por una estudiante de Administración.



            Promueve la cultura a través de distintos talleres y presentaciones en el estado y el país, muestra son sus participaciones en el Festival Internacional de Teatro Universitario. Hoy, lleva a cabo un proyecto que involucra a trabajadores de la Universidad y a padres de familia, conjuntando esfuerzos en lograr una formación integral basada en valores.



            Ha sido semillero no solo de profesionistas que abonan al desarrollo de la entidad (mediante la incorporación a la fuerza laboral o por la creación de grandes empresas), sino de nuevas instituciones de educación: UTSJR, UNAQ, UPQ y UTC. Su constante progreso deja una huella en la historia de nuestra entidad, siendo la primera UUTT que se instaló en Querétaro y que sigue evolucionando para entregar ciudadanos formados en las demandas de la tecnología, la investigación y el entorno social.
        </h4>
    </div>
    <div class="col-lg-6">
        <img class="img-responsive" src="https://www.uteq.edu.mx/Images/Esquema_mision_vision_2020.png"/>
        <h1>Contactanos</h1>
        <ul>
            <li><h4>Teléfono: (442) 2 09 61 00</h4></li>
            <li><h4>Dirección: Av. Pie de la Cuesta 2501, Nacional, 76148 Santiago de Querétaro, Qro. </h4></li>
        </ul>
    </div>
</div>