@{
    ViewBag.Title = "UTEQ";
}

<img class="img-responsive" src="https://media-exp1.licdn.com/dms/image/C4E1BAQFADuh6EyUQeg/company-background_10000/0/1578935632361?e=2159024400&v=beta&t=EwrAVOo9az_Yd_B2YNZ6bXjmXWM5BHprU1Re1meDlXU"/>
<h1 class="text-center">Bienvenidos al sitio oficial de la libreria de la UTEQ</h1>
<h4 class="text-justify">La Universidad Tecnológica de Querétaro (UTEQ) es la segunda universidad pública más grande del Estado de Querétaro. Cuenta con 25 programas de estudio, entre Técnico Superior Universitario y Licenciaturas. Pertenece a la Coordinación General de Universidades Tecnológicas y Politécnicas. Localizada en el municipio de Querétaro.</h4>